/* ==UserStyle==
@name           www.reddit.com - Mar 2024
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("www.reddit.com") {
 		/* Insert code here... */
	/*Font Import */
	/*Importing Margon */
	/*Margon Medium Import */
	@font-face {
		font-family: "Margon 360 W08 Medium";
		src: url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.eot");
		src: url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/90100147a9b552a477200bfb737766e5.svg#Margon 360 W08 Medium")format("svg");
	}


	@import url(https://db.onlinewebfonts.com/c/90100147a9b552a477200bfb737766e5?family=Margon+360+W08+Medium);




	/*Bricolage Grotesque Import */
	@font-face {
		font-family: "Bricolage Grotesque";
		src: url("https://db.onlinewebfonts.com/t/102353a74d2e0700af3e11ef8a917b26.eot");
		src: url("https://db.onlinewebfonts.com/t/102353a74d2e0700af3e11ef8a917b26.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/102353a74d2e0700af3e11ef8a917b26.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/102353a74d2e0700af3e11ef8a917b26.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/102353a74d2e0700af3e11ef8a917b26.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/102353a74d2e0700af3e11ef8a917b26.svg#Bricolage Grotesque")format("svg");
	}



	@import url(https://db.onlinewebfonts.com/c/102353a74d2e0700af3e11ef8a917b26?family=Bricolage+Grotesque);






	/*Lora Font Import*/
	@font-face {
		font-family: "Lora";
		src: url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.eot");
		src: url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/5c803199923a6ed48112bebbb486b3e0.svg#Lora")format("svg");
	}






	@import url(https://db.onlinewebfonts.com/c/5c803199923a6ed48112bebbb486b3e0?family=Lora);







	/*Lingistics Pro Font  */
	@font-face {
		font-family: "Linguistics Pro";
		src: url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.eot");
		src: url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/3612352f3b0606a3a5d675e7279f7c17.svg#Linguistics Pro")format("svg");
	}
	@import url(https://db.onlinewebfonts.com/c/3612352f3b0606a3a5d675e7279f7c17?family=Linguistics+Pro);





	/*Commit Mono*/
	@font-face {
		font-family: "CommitMono";
		src: url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.eot");
		src: url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/3d911dba955015058da8755197d0a58c.svg#CommitMono")format("svg");
	}



	@import url(https://db.onlinewebfonts.com/c/3d911dba955015058da8755197d0a58c?family=CommitMono);




	/*Fira Mono */
	/* 
	
	Fira Mono font weights:
  - Fira Mono 400 (Regular)
  - Fira Mono 500 (Medium)
  - Fira Mono 700 (Bold)
*/
	/* fira-mono-regular - latin */
	/* fira-mono-latin-400-normal */
	/* fira-mono-latin-400-normal */
	@font-face {
		font-family: 'Fira Mono';
		font-style: normal;
		font-display: auto;
		font-weight: 400;
		src: url(https://cdn.jsdelivr.net/fontsource/fonts/fira-mono@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/fira-mono@latest/latin-400-normal.woff) format('woff'), url(https://cdn.jsdelivr.net/fontsource/fonts/fira-mono@latest/latin-400-normal.ttf) format('truetype');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}








	/* Spline Sans */
	/* spline-sans-latin-wght-normal */
	@font-face {
		font-family: 'Spline Sans Variable';
		font-style: normal;
		font-display: auto;
		font-weight: 300 700;
		src: url(https://cdn.jsdelivr.net/fontsource/fonts/spline-sans:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	}















	/*Hack Font */
	@font-face {
		font-family: "Hack";
		src: url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.eot");
		src: url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/4fea277591543c1fd64a9cf06ec5803a.svg#Hack")format("svg");
	}














	/*Karla Font Testing */
	@font-face {
		font-family: "Karla";
		src: url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.eot");
		src: url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/750e3658d4460a397a551dfac26bb272.svg#Karla")format("svg");
	}















	@font-face {
		font-family: "Karla Medium";
		src: url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.eot");
		src: url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/b2df7a6681d7895a21fc77cda56d14dd.svg#Karla Medium")format("svg");
	}







	@font-face {
		font-family: "Karla Bold";
		src: url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.eot");
		src: url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/b45be274b8b65fc9c72b038d72486edd.svg#Karla Bold")format("svg");
	}













	/*Archivo Font */
	@font-face {
		font-family: "Archivo";
		src: url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.eot");
		src: url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.eot?#iefix")format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.woff2")format("woff2"),
		url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.woff")format("woff"),
		url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.ttf")format("truetype"),
		url("https://db.onlinewebfonts.com/t/9868bcbea8d6cd3f78182d7829e5dd3e.svg#Archivo")format("svg");
	}






/* literata-latin-wght-normal */
@font-face {
  font-family: 'Literata Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 200 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/literata:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}















	:root {
		/* 0 is for darkest 
    1 is for hard 
    higher values for hard  */
		/* 2.1 Dark theme color variables */
		--bg0-dh: #1d2021;
		--bg-dark-new: #1F1E1D;
		/*For basic text new color added  	 */
		--text-normal: #ffd29c;

		--shadow-bg: #1d1b1a;

		--bg1-dark: #3c3836;
		--bg-dark: #282828;
		--bg2-dark: #504945;
		--bg3-dark: #665c54;
		--bg4-dark: #7c6f64;
		--bg5-dark: #928374;
		--bg_visual: #503946;
		--bg_red: #cc241d;
		--bg_green: #98971a;
		--bg_blue: #458588;
		--bg_yellow: #d79921;
		--shadow: #16181a;
		--shadow-var1: #17191b;
		--shadow-cur: #1a1b1d;

		--fg-dark: #ebdbb2;
		--grey0-dark: #7f897d;
		--grey1-dark: #859289;
		--grey2-dark: #9aa79d;

		--faded-red: #fb4934;
		--faded-orange: #fe8019;
		--faded-yellow: #fabd2f;
		--faded-green: #b8bb26;
		--faded-aqua: #8ec07c;
		--faded-blue: #83a598;
		--faded-purple: #d3869b;

		--dim-red: #cc241d;
		--dim-orange: #d65d0e;
		--dim-yellow: #d79921;
		--dim-green: #98971a;
		--dim-aqua: #689d6a;
		--dim-blue: #458588;
		--dim-purple: #b16286;


		/* 2.2 Light theme color variables */
		--bg0-light: #f0edd8;
		--bg1-light: #f6f1dd;
		--bg-light: #fdf6e3;
		--bg2-light: #f3efda;
		--bg3-light: #edead5;
		--bg4-light: #e4e1cd;
		--bg5-light: #dfdbc8;
		--grey0-light: #a4ad9e;
		--grey1-light: #939f91;
		--grey2-light: #879686;
		--shadow-light: #3c474d20;


		--text-offwhite: #fbf1c7;
		--text-offyellowish: #f2e5bc;
		--text-white: #f9f5d7;
		--text-offwhite-faded: #ebdbb2;
		--text--faded: #d5c4a1;
		--text--veryfade: #928374;



		--interface--aqua: #5c7b42;



		--bg_visual_light: #eaedc8;
		--bg_red_light: #fbe3da;
		--bg_green_light: #f0f1d2;
		--bg_blue_light: #e9f0e9;
		--bg_yellow_light: #faedcd;

		--fg-light: #5c6a72;

		--light-red: #f85552;
		--light-orange: #f57d26;
		--light-yellow: #bf983d;
		--light-green: #899c40;
		--light-aqua: #569d79;
		--light-blue: #5a93a2;
		--light-purple: #b87b9d;

		--light-dim-red: #f1706f;
		--light-dim-orange: #f39459;
		--light-dim-yellow: #e4b649;
		--light-dim-green: #a4bb4a;
		--light-dim-aqua: #6ec398;
		--light-dim-blue: #6cb3c6;
		--light-dim-purple: #e092be;



		--dark-red: #9d0006;
		/* faded_red: #9d0006 [red] 88 [9] 157-0-6 137-0-9 #890009 */
		--dark-green: #79740e;
		/* faded_green: #79740e [green] 100 [10] 121-116-14 102-98-13 #66620d */
		--dark-yellow: #b57614;
		/* faded_yellow: #b57614 [yellow] 136 [11] 181-118-20 165-99-17 #a56311 */
		--dark-blue: #076678;
		/* faded_blue: #076678 [blue] 24 [12] 7-102-120 14-83-101 #0e5365 */
		--dark-purple: #8f3f71;
		/* faded_purple: #8f3f71 [purple] 96 [13] 143-63-113 123-43-94 #7b2b5e */
		--dark-aqua: #427b58;
		/* faded_aqua: #427b58 [aqua] 66 [14] 66-123-88 53-106-70 #356a46 */
		--dark-orange: #af3a03;


		/* light colors */
		--interface-light0-hard: #f9f5d7;
		/* light0_hard: #f9f5d7 [h0] 230 [ ] 249-245-215 248-244-205 #f8f4cd */
		--interface-light0: #fbf1c7;
		/* light0: #fbf1c7 [fg0][bg0] 229 [0] 251-241-199 250-238-187 #faeebb */
		--interface-light0-soft: #f2e5bc;
		/* light0_soft: #f2e5bc [s0] 228 [ ] 242-229-188 239-223-174 #efdfae */
		--interface-light1: #ebdbb2;
		/* light1: #ebdbb2 [fg1][bg1] 223 [15] 235-219-178 230-212-163 #e6d4a3 */
		--interface-light2: #d5c4a1;
		/* light2: #d5c4a1 [fg2][bg2] 250 [ ] 213-196-161 203-184-144 #cbb890 */
		--interface-light3: #bdae93;
		/* light3: #bdae93 [fg3][bg3] 248 [ ] 189-174-147 175-159-129 #af9f81 */
		--interface-light4: #a89988;
		/* light4: #a89988 */
	}
	
	
	.theme-dark .theme-beta, .theme-dark.theme-beta {
    --color-pizzaRed: #c62828;
    --color-global-brand-orangered: #FF4500;
    --color-global-focus: #fb4934 !important;
    --color-interactive-content-disabled: #ffffff40;
    --color-interactive-background-disabled: #ffffff0d;
    --color-interactive-pressed: #ffffff29;
    --color-neutral-content: #B8C5C9;
    --color-neutral-content-disabled: #303030;
    --color-neutral-content-weak: #82959B;
    --color-neutral-content-strong: #F2F4F5;
		
		/*Background Color of the whole app back interface */
    --color-neutral-background: #1a1b1d !important;
		
    --color-neutral-background-selected: #b16286 !important;
		
    --color-neutral-background-weak: #b16286 !important;
    --color-neutral-background-medium: #b16286 !important;
		
		/*Searcn context drop down menu background */
    --color-neutral-background-strong: #282828 !important;
		
		/*Drop Down menu hover background */
    --color-neutral-background-hover: #504945 !important;
		/*Top bar seperator */
		/*Defined down there -> This line i redundant for mow */
		--color-neutral-border: #fb4934 !important;
    --color-neutral-border-medium: #ffffff80;
    --color-neutral-border-weak: #ffffff1a;
    --color-neutral-border-strong: #cc241d !important;
    --color-primary: #629FFF;
    --color-primary-hover: #A7CCFF;
    --color-primary-visited: #D55EFF;
    --color-primary-background: #0045AC;
    --color-primary-background-hover: #1870F4;
    --color-primary-background-selected: #629FFF;
    --color-primary-onBackground: #ffffff;
    --color-primary-onBackground-selected: #000000;
    --color-secondary: #F2F4F5;
    --color-secondary-hover: #ffffff;
    --color-secondary-weak: #82959B;
    --color-secondary-onBackground: #ffffff;
		
		/*Search bar color background */
    --color-secondary-background: #16181a !important;
		/*Search bar background hover */
    --color-secondary-background-hover: #322f04 !important;
    --color-secondary-background-selected: #33464C;
    --color-secondary-plain: #F2F4F5;
    --color-secondary-plain-hover: #ffffff;
    --color-danger-background: #A50016;
    --color-danger-background-disabled: #3A0008;
    --color-danger-background-hover: #EB001F;
    --color-danger-onBackground: #ffffff;
    --color-danger-content: #FF6E80;
    --color-danger-content-hover: #FFADB8;
    --color-success-content: #55BD46;
    --color-success-hover: #A3E398;
    --color-success-onBackground: #ffffff;
    --color-success-background: #0A6000;
    --color-success-background-hover: #0E8A00;
    --color-warning-content: #DBAF00;
    --color-warning-content-hover: #FADB61;
    --color-warning-onBackground: #000000;
    --color-warning-background: #DBAF00;
    --color-warning-background-hover: #FADB61;
    --color-upvote-content: #FE7C53;
    --color-upvote-content-weak: var(--color-global-brand-orangered);
    --color-upvote-disabled: #FE7C534d;
    --color-upvote-onBackground: #ffffff;
    --color-upvote-background: #D93A00;
    --color-upvote-background-hover: #962900;
    --color-upvote-background-disabled: #D93A004d;
    --color-downvote-content: #988EFF;
    --color-downvote-content-weak: #6A5CFF;
    --color-downvote-disabled: #988EFF4d;
    --color-downvote-onBackground: #ffffff;
    --color-downvote-background: #453BB5;
    --color-downvote-background-hover: #453BB5;
    --color-downvote-background-disabled: #6A5CFF4d;
    --color-tone-1: #F2F2F2;
    --color-tone-2: #ACACAC;
    --color-tone-3: #434343;
    --color-tone-4: #303030;
    --color-tone-5: #1E1E1E;
    --color-tone-6: #131313;
    --color-tone-7: #080808;
    --color-ui-canvas: #080808;
    --color-ui-modalbackground: var(--color-neutral-background-strong);
    --color-avatar-gradient: linear-gradient(0deg, #2A3C42ff, #0B1416ff 75%);
    --color-transparent-background-hover: #667A801a;
    --color-opacity-50: #F2F2F280;
    --color-online: #55BD46;
    --color-favorite: #DBAF00;
    --color-button-primary-border-activated: transparent;
    --color-button-plain-inverted-activated-text: var(--color-neutral-background);
    --color-shimmer-background: #ffffff08;
    --color-shimmer-gradient-overlay: linear-gradient(to right, #ffffff00, #ffffff05 20%, #ffffff0f 50%, #ffffff08 70%, #ffffff00 100%);
		
		--color-input-border: red !important ; 
}
	
	
	
	
	
	
	.theme-beta, .theme-light.theme-beta {
    --spacer-a-px: 0.125rem;
    --spacer-button-lg-px: var(--spacer-md);
    --spacer-button-md-px: var(--spacer-md);
    --spacer-button-sm-px: var(--spacer-sm);
    --spacer-input-padding-left: var(--spacer-md);
    --spacer-input-padding-top: var(--spacer-2xs);
    --spacer-label-default: var(--spacer-md);
    --spacer-switch-input-active-pl: var(--spacer-xs);
    --size-banner-height: var(--size-rem40);
    --size-button-lg-h: var(--size-2xl);
    --size-button-md-h: 2.5rem;
    --size-button-sm-h: var(--size-xl);
    --size-button-xs-h: var(--size-lg);
    --size-switch-input-h: var(--size-xl);
    --size-switch-input-w: var(--size-2xl);
    --line-a-focus: var(--line-md);
    --line-a-outline-moz: 0px;
    --line-a-outline-wb: 0px;
    --line-button-lg-border: var(--line-sm);
    --line-button-md-border: var(--line-sm);
    --line-button-sm-border: var(--line-sm);
    --line-button-xs-border: var(--line-sm);
    --line-button-border-activated: var(--line-lg);
    --line-input-border: var(--line-lg);
    --radius-md: 1.25rem;
    --radius-accordion-size: 0px;
    --font-10: normal undefined null/null var(--font-sans);
    --font-12: normal undefined null/null var(--font-sans);
    --font-14: normal undefined null/null var(--font-sans);
    --font-16: normal undefined null/null var(--font-sans);
    --font-18: normal undefined null/null var(--font-sans);
    --font-20: normal undefined null/null var(--font-sans);
    --font-24: normal undefined null/null var(--font-sans);
    --font-32: normal undefined null/null var(--font-sans);
    --font-48: normal undefined null/null var(--font-sans);
    --font-64: normal undefined null/null var(--font-sans);
    --font-title-h0: var(--font-64);
    --font-title-h1: var(--font-32);
    --font-title-h2: var(--font-24);
    --font-title-h3: var(--font-18);
    --font-title-h4: var(--font-16);
    --font-title-h5: var(--font-14);
    --font-title-h6: var(--font-12);
    --font-14-20-regular: normal 400 0.875rem/1.25rem var(--font-sans);
    --font-14-20-semibold: normal 600 0.875rem/1.25rem var(--font-sans);
    --font-16-20-regular: normal 400 1rem/1.25rem var(--font-sans);
    --font-12-16-regular: normal 400 0.75rem/1rem var(--font-sans);
    --font-12-16-semibold: normal 600 0.75rem/1rem var(--font-sans);
    --font-button-lg: var(--font-14-20-semibold);
    --font-button-md: var(--font-14-20-semibold);
    --font-button-sm: var(--font-12-16-semibold);
    --font-label-default: var(--font-12-16-regular);
    --misc-accordion-border: 0;
    --misc-accordion-open-list-style-type: none;
    --misc-accordion-closed-list-style-type: none;
    --misc-divider-margin: 0;
    --misc-label-text-transform: capitalize;
    --misc-label-letter-spacing: initial;
    --blur-sm: 0.25rem;
    --blur-normal: 0.5rem;
    --blur-md: 0.75rem;
    --blur-lg: 1rem;
    --blur-xl: 1.5rem;
    --blur-2xl: 2.5rem;
    --blur-3xl: 4rem;
    --color-action-downvote: #6A5CFF;
    --color-action-upvote: #D93900;
    --color-ai-background-weaker: #E7FDF5;
    --color-ai-plain: #006C56;
    --color-ai-plain-hover: #015140;
    --color-alert-caution: #977000;
    --color-avatar-gradient: linear-gradient(0deg, #97AFBCff, #ffffffff 75%);
    --color-avatar-media-gradient: linear-gradient(0deg, #00000099, #181C1Fff 75%);
    --color-brand-background: #D93900;
    --color-brand-background-hover: #AE2C00;
    --color-brand-gradient-active: linear-gradient(180deg, #cd3700ff, #db3b00ff 68%, #D93900ff 100%);
    --color-brand-gradient-active-highlight: linear-gradient(83deg, #db3f0000 80%, #D93900ff 100%);
    --color-brand-gradient-default: linear-gradient(180deg, #D93900ff, #db3b00ff 30%, #AE2C00ff 100%);
    --color-brand-gradient-default-highlight: linear-gradient(258deg, #db3f0000 80%, #D93900ff 100%);
    --color-brand-gradient-hover: linear-gradient(180deg, #e23d00ff 15%, #cb3600ff 49%, #b43000ff 100%);
    --color-brand-gradient-hover-highlight: linear-gradient(323deg, #cb360000 65%, #cb3600ff 100%);
    --color-brand-onBackground: #FFFFFF;
    --color-category-live: #D93900;
    --color-category-nsfw: #DE019F;
    --color-category-spoiler: var(--color-tone-1);
    --color-caution-background: #FFBF0B;
    --color-caution-background-hover: #D8A100;
    --color-caution-onBackground: #000000;
    --color-caution-plain: #785800;
    --color-caution-plain-hover: #5B4200;
    --color-danger-background: #EB001F;
    --color-danger-background-disabled: #FDB3A4;
    --color-danger-background-hover: #BC0117;
    --color-danger-background-weaker: #FBDBD4;
    --color-danger-content: #BC0117;
    --color-danger-content-default: #ffffff;
    --color-danger-content-hover: #90000F;
    --color-danger-onBackground: #FFFFFF;
    --color-danger-plain: #BC0117;
    --color-danger-plain-hover: #90000F;
    --color-downvote-background: #6A5CFF;
    --color-downvote-background-disabled: rgba(106, 92, 255, 0.3);
    --color-downvote-background-hover: #523DFF;
    --color-downvote-content: #523DFF;
    --color-downvote-content-weak: #6A5CFF;
    --color-downvote-disabled: #523DFF4d;
    --color-downvote-onBackground: #FFFFFF;
    --color-downvote-onStrongScrim: #B29FFF;
    --color-downvote-onStrongScrim-disabled: rgba(178, 159, 255, 0.3);
    --color-downvote-onStrongScrim-weaker: #9580FF;
    --color-downvote-plain: #523DFF;
    --color-downvote-plain-disabled: rgba(82, 61, 255, 0.3);
    --color-downvote-plain-weaker: #6A5CFF;
    --color-elevation-large1: #0000003F;
    --color-elevation-large2: #00000026;
    --color-elevation-medium1: #0000003F;
    --color-elevation-medium2: #00000019;
    --color-elevation-small: #00000026;
    --color-elevation-xsmall: #0000003F;
    --color-favorite: #977000;
    --color-global-admin: #D93900;
    --color-global-alienblue: #1870F4;
    --color-global-black: #000000;
    --color-global-brand-orangered: #FF4500;
    --color-global-darkblue: #2A3236;
    --color-global-focus: #029DD5;
    --color-global-gold: #B78800;
    --color-global-moderator: #008A10;
    --color-global-nsfw: #DE019F;
    --color-global-offline: #667780;
    --color-global-online: #00C61C;
    --color-global-orangered: #FF4500;
    --color-global-stars: #977000;
    --color-global-white: #FFFFFF;
    --color-gradient-media: linear-gradient(180deg, #00000000, #0000008a 60%, #00000099 100%);
    --color-gradient-media-strong: linear-gradient(180deg, #00000000, #000000cc 60%, #000000e6 100%);
    --color-identity-admin: #D93900;
    --color-identity-coins: #B78800;
    --color-identity-moderator: #008A10;
    --color-identity-self: #01876D;
    --color-interactive-background-disabled: #0000000C;
    --color-interactive-content-disabled: #0000003F;
    --color-interactive-focused: #007FAE;
    --color-interactive-pressed: #00000026;
    --color-inverted-interactive-background-disabled: #FFFFFF0C;
    --color-inverted-interactive-content-disabled: #FFFFFF3F;
    --color-inverted-interactive-pressed: #FFFFFF26;
    --color-inverted-neutral-background: #0E1113;
    --color-inverted-neutral-background-hover: #181C1F;
    --color-inverted-neutral-border: #FFFFFF33;
    --color-inverted-neutral-content: #B7CAD4;
    --color-inverted-neutral-content-strong: #EEF1F3;
    --color-inverted-secondary-background: #2A3236;
    --color-inverted-secondary-background-hover: #333D42;
    --color-inverted-secondary-background-selected: #3D494E;
    --color-inverted-secondary-onBackground: #FFFFFF;
    --color-inverted-secondary-plain: #DBE4E9;
    --color-inverted-secondary-plain-hover: #FFFFFF;
    --color-media-background: rgba(0, 0, 0, 0.6);
    --color-media-background-hover: rgba(0, 0, 0, 0.8);
    --color-media-background-selected: rgba(0, 0, 0, 0.8);
    --color-media-border-selected: #FFFFFF;
    --color-media-border-weak: #FFFFFF19;
    --color-media-onBackground: #FFFFFF;
    --color-media-onBackground-disabled: #FFFFFF3F;
    --color-media-onBackground-weak: #E5EBEE;
    --color-media-onbackground: #ffffff;
    --color-media-onbackground-disabled: #ffffff40;
    --color-media-onbackground-weak: #B7CAD4;
    --color-neutral-background: #FFFFFF;
    --color-neutral-background-container: #F6F8F9;
    --color-neutral-background-container-hover: #EEF1F3;
    --color-neutral-background-container-strong: #EEF1F3;
    --color-neutral-background-container-strong-hover: #E5EBEE;
    --color-neutral-background-gilded: #FFF9E0;
    --color-neutral-background-gilded-hover: #FFF3C0;
    --color-neutral-background-hover: #F6F8F9;
    --color-neutral-background-medium: #F8F8F8;
    --color-neutral-background-pinned: #FFFFFF;
    --color-neutral-background-selected: #E5EBEE;
    --color-neutral-background-strong: #FFFFFF;
    --color-neutral-background-strong-hover: #F6F8F9;
    --color-neutral-background-weak: #F6F8F9;
    --color-neutral-background-weak-hover: #EEF1F3;
    --color-neutral-border: #00000033;
    --color-neutral-border-medium: #0000007F;
    --color-neutral-border-strong: #181C1F;
    --color-neutral-border-weak: #00000019;
    --color-neutral-content: #333D42;
    --color-neutral-content-disabled: #D6D6D6;
    --color-neutral-content-strong: #181C1F;
    --color-neutral-content-weak: #5C6C74;
    --color-offline: #767676;
    --color-online: #01A816;
    --color-opacity-08: #13131314;
    --color-opacity-50: #00000080;
    --color-opacity-highlight: linear-gradient(#0A2F6C1a, var(--color-tone-6));
    --color-pizzaRed: #ef5350;
    --color-primary: #115BCA;
    --color-primary-background: #0A449B;
    --color-primary-background-hover: #0A2F6C;
    --color-primary-background-selected: #0A1A3F;
    --color-primary-border: #0A449B;
    --color-primary-border-hover: #0A2F6C;
    --color-primary-hover: #0A449B;
    --color-primary-onBackground: #FFFFFF;
    --color-primary-onBackground-selected: #FFFFFF;
    --color-primary-plain: #0A449B;
    --color-primary-plain-hover: #0A2F6C;
    --color-primary-plain-visited: #7600A3;
    --color-primary-visited: #9B00D4;
    --color-scrim: #00000099;
    --color-scrim-background: #00000099;
    --color-scrim-background-strong: #000000CC;
    --color-scrim-gradient: linear-gradient(180deg, #00000000, #0000008a 60%, #00000099 100%);
    --color-scrim-strong: #000000cc;
    --color-secondary: #21272A;
    --color-secondary-background: #E5EBEE;
    --color-secondary-background-hover: #DBE4E9;
    --color-secondary-background-selected: #C9D7DE;
    --color-secondary-hover: #000000;
    --color-secondary-onBackground: #000000;
    --color-secondary-plain: #181C1F;
    --color-secondary-plain-hover: #000000;
    --color-secondary-plain-weak: #5C6C74;
    --color-secondary-weak: #576F76;
    --color-success-background: #008A10;
    --color-success-background-hover: #016E0B;
    --color-success-content: #016E0B;
    --color-success-hover: #005306;
    --color-success-onBackground: #FFFFFF;
    --color-success-plain: #016E0B;
    --color-success-plain-hover: #005306;
    --color-tone-1: #fb4934;
    --color-tone-2: #434343;
    --color-tone-3: #ACACAC;
    --color-tone-4: #E4E4E4;
    --color-tone-5: #F2F2F2;
    --color-tone-6: #F8F8F8;
    --color-tone-7: #ffffff;
    --color-transparent-background-hover: #7487911a;
    --color-ui-canvas: var(--color-tone-5);
    --color-ui-modalbackground: var(--color-neutral-background-strong);
    --color-upvote-background: #D93900;
    --color-upvote-background-disabled: rgba(217, 57, 0, 0.3);
    --color-upvote-background-hover: #AE2C00;
    --color-upvote-content: #AE2C00;
    --color-upvote-content-weak: var(--color-global-brand-orangered);
    --color-upvote-disabled: #AE2C004d;
    --color-upvote-onBackground: #FFFFFF;
    --color-upvote-onStrongScrim: #FF895D;
    --color-upvote-onStrongScrim-disabled: rgba(255, 137, 93, 0.3);
    --color-upvote-onStrongScrim-weaker: #FF4500;
    --color-upvote-plain: #AE2C00;
    --color-upvote-plain-disabled: rgba(174, 44, 0, 0.3);
    --color-upvote-plain-weaker: #FF4500;
    --color-warning-background: #B78800;
    --color-warning-background-hover: #977000;
    --color-warning-content: #785800;
    --color-warning-content-hover: #5B4200;
    --color-warning-onBackground: #000000;
    --color-a-default: var(--color-primary);
    --color-a-hover: var(--color-primary-hover);
    --color-a-visited: var(--color-primary-visited);
    --color-banner-plain: var(--color-neutral-background-strong);
    --color-banner-plain-inverted: var(--color-neutral-content-strong);
    --color-banner-error: var(--color-danger-background);
    --color-banner-caution: var(--color-warning-background);
    --color-banner-success: var(--color-success-background);
    --color-banner-brand: var(--color-brand-background);
    --color-banner-plain-text: var(--color-neutral-content);
    --color-banner-plain-inverted-text: var(--color-neutral-background-weak);
    --color-banner-error-text: var(--color-danger-onBackground);
    --color-banner-caution-text: var(--color-warning-onBackground);
    --color-banner-caution-hover: var(--color-warning-background-hover);
    --color-banner-success-text: var(--color-success-onBackground);
    --color-banner-brand-text: var(--color-brand-onBackground);
    --color-button-overlay-focus: transparent;
    --color-button-overlay-active: transparent;
    --color-button-border-width: tomato;
    --color-button-border-width-activated: tomato;
    --color-button-primary-background-hover: var(--color-primary-background-hover);
    --color-button-primary-background-activated: var(--color-primary-background-selected);
    --color-button-primary-background-disabled: var(--color-interactive-background-disabled);
    --color-button-primary-border-hover: var(--color-primary-background);
    --color-button-primary-border-active: var(--color-primary-background-hover);
    --color-button-primary-text-disabled: var(--color-interactive-content-disabled);
    --color-button-primary-text-activated: var(--color-primary-onBackground-selected);
    --color-button-secondary-background: var(--color-secondary-background);
    --color-button-secondary-background-focus: var(--color-secondary-background);
    --color-button-secondary-background-hover: var(--color-secondary-background-hover);
    --color-button-secondary-background-disabled: var(--color-interactive-background-disabled);
    --color-button-secondary-background-activated: var(--color-secondary-background-selected);
    --color-button-secondary-border: transparent;
    --color-button-secondary-border-hover: var(--color-secondary-background);
    --color-button-secondary-border-active: var(--color-secondary-background-hover);
    --color-button-secondary-border-activated: transparent;
    --color-button-secondary-border-disabled: transparent;
    --color-button-secondary-text: var(--color-secondary-onBackground);
    --color-button-secondary-text-disabled: var(--color-interactive-content-disabled);
    --color-button-secondary-text-activated: var(--color-secondary-onBackground);
    --color-button-tertiary-background: transparent;
    --color-button-tertiary-background-focus: transparent;
    --color-button-tertiary-background-hover: var(--color-secondary-background-hover);
    --color-button-tertiary-background-disabled: transparent;
    --color-button-tertiary-background-activated: var(--color-neutral-content);
    --color-button-tertiary-border-hover: var(--color-secondary-background);
    --color-button-tertiary-border-active: var(--color-secondary-background-hover);
    --color-button-tertiary-text: var(--color-neutral-content-strong);
    --color-button-tertiary-text-disabled: var(--color-neutral-content-disabled);
    --color-button-tertiary-text-activated: var(--color-neutral-background);
    --color-button-plain-background-hover: var(--color-secondary-background-hover);
    --color-button-plain-background-disabled: transparent;
    --color-button-plain-background-activated: var(--color-secondary-background-selected);
    --color-button-plain-border-hover: var(--color-secondary-background);
    --color-button-plain-border-active: var(--color-secondary-background-hover);
    --color-button-plain-text: var(--color-secondary-plain);
    --color-button-plain-text-hover: var(--color-secondary-plain-hover);
    --color-button-plain-text-disabled: var(--color-interactive-content-disabled);
    --color-button-plain-text-activated: var(--color-secondary-onBackground);
    --color-button-primary-border-activated: var(--color-primary-background);
    --color-button-plain-text-weak: var(--color-secondary-plain-weak);
    --color-button-plain-inverted-background-activated: var(--color-neutral-content);
    --color-button-plain-inverted-text-activated: var(--color-neutral-background);
    --color-button-media-border-color-activated: var(--color-media-border-selected);
    --color-button-favorite-text: var(--color-favorite);
    --color-button-caution-background: var(--color-warning-background);
    --color-button-caution-background-hover: var(--color-warning-background-hover);
    --color-button-caution-background-disabled: var(--color-interactive-background-disabled);
    --color-button-caution-text: var(--color-warning-onBackground);
    --color-divider-default: var(--color-neutral-border);
    --color-input-secondary: var(--color-secondary-background);
    --color-input-secondary-hover: var(--color-secondary-background-hover);
    --color-input-border: transparent;
    --color-input-bordered: transparent;
    --color-input-bordered-hover: var(--color-neutral-background-hover);
    --color-input-secondary-text: var(--color-secondary-onBackground);
    --color-input-bordered-text: var(--color-secondary-plain);
    --color-input-helper-text: var(--color-neutral-content-weak);
    --color-input-pressed: var(--color-interactive-pressed);
    --color-input-radio: var(--color-secondary-plain-weak);
    --color-input-radio-hover: var(--color-neutral-content-strong);
    --color-label-default: var(--color-neutral-content-weak);
    --color-shimmer-background: #00000008;
    --color-shimmer-gradient-overlay: linear-gradient(to right, #00000000, #00000005 20%, #0000000f 50%, #00000008 70%, #00000000 100%);
    --color-switch-input-background-pressed-scrim: var(--color-interactive-pressed);
    --color-switch-input-background-handle: var(--color-global-white);
    --color-switch-input-background-handle-disabled: var(--color-secondary-background);
    --color-switch-input-background-default: var(--color-secondary-background);
    --color-switch-input-background-default-hover: var(--color-secondary-background-hover);
    --color-switch-input-background-default-disabled: var(--color-interactive-background-disabled);
    --color-switch-input-background-checked: var(--color-primary-background);
    --color-switch-input-background-checked-hover: var(--color-primary-background-hover);
    --color-switch-input-background-checked-disabled: var(--color-interactive-content-disabled);
    --color-tooltip-bg-neutral: var(--color-neutral-background-strong);
    --color-tooltip-text-neutral: var(--color-neutral-content);
    --color-tooltip-bg-inverted: var(--color-neutral-content);
    --color-tooltip-text-inverted: var(--color-neutral-background);
    --color-tooltip-bg-primary: var(--color-primary-background);
    --color-tooltip-text-primary: var(--color-primary-onBackground);
    --elevation-button-focus: var(--elevation-focus-ring);
    --elevation-switch-input-default-inset: var(--elevation-sm-inset);
}
	
	
	
	
	
	
	
	
	/*Cusom Css styles*/
	
	/*Main page */
	/*Home page  */
	
	/*Top bar Backround */
	nav.h-header-large.flex.items-center {
  background-color: #282828 !important ; 
}
	
	div.label-container{
			color : red !important ; 
		background: red !important ; 
	}
	
	.input-container{
		color : red !important ; 
		background: red !important ; 
	}


	/*Border color of the Seperator between Top bar and Posts  */
	.border-neutral-border {
  border-color: #504945 !important ; 
		border-width: 2px !important ; 
}
	
	
	
	.shadow-sm {
    --tw-shadow: red !important  ;
    --tw-shadow-colored: var(--elevation-sm);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
	
	

	

	
	
	
	
	
	
	
	
	
	
}
